.main {
    background-color: #444444;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.first {
    width: 45%;
    margin: auto;
}

.second {
    width: 45%;
}

.content {
    position: relative;
}

.part_1 {
    width: 100%;
}

.part_2 {
    width: 100%;
}

.part1_part2 {
    display: inline-block;
    width: 50%;
}

.part2_part2 {

    top: 0px;
    display: inline-block;
    width: 50%;
}

.part3 {
    width: 100%;
}

.part1_part3 {
    display: inline-block;
    width: 45%;
    margin-right: 5%;
}

.part2_part3 {
    display: inline-block;
    width: 45%;
    margin-left: 5%;
}

p {
    display: inline-block;
    margin: 0px;
}

hr {

    margin: 10px 0px;
}

div {
    margin: 0px;
    padding: 0px;
}

.date {
    position: absolute;
    right: 15px;
    padding: 0px;
    margin: 0px;
}

.temp {
    font-size: 40px;

}