.main {

    background-color: #878382;
    padding: 15px;
}

.first {
    display: inline-block;
    background-color: white;
    width: 50%;
    padding: 4px;
    margin: 10px;
}

.date {

    position: right;
}