.main {

    background-color: #878382;
    padding: 15px;

}

.first {
    display: inline-block;
    position: relative;
    background-color: white;

    width: 45%;
    padding: 1% 3%;
    margin-left: 2%;
    margin-right: 3%;
    margin-top: 10px;
    margin-bottom: 10px;
}


.content {
    position: relative;
}

.part_1 {
    width: 100%;
}

.part_2 {
    width: 100%;
}

.part1_part2 {
    display: inline-block;
    width: 50%;
}

.part2_part2 {

    top: 0px;
    display: inline-block;
    width: 50%;
}

.part3 {
    width: 100%;
}

.part1_part3 {
    display: inline-block;
    width: 45%;
    margin-right: 5%;
}

.part2_part3 {
    display: inline-block;
    width: 45%;
    margin-left: 5%;
}

p {
    display: inline-block;
    margin: 0px;
}

hr {

    margin: 10px 0px;
}

div {
    margin: 0px;
    padding: 0px;
}

.date {
    position: absolute;
    right: 15px;
    padding: 0px;
    margin: 0px;
}

.temp {
    font-size: 40px;

}

.second {
    display: inline-block;
    background-color: white;
    width: 45%;
    margin-right: 2%;
    margin-left: 3%;
    margin-top: 10px;
    margin-bottom: 10px;
}