/* Footer */
#footer {
  display: grid;
  place-items: center;
  font-family: "Montserrat";
  background-color: #da0037;
  color: #ededed;
  padding: 50px 0;
}
.buttons {
  padding: 20px 0;
  background-color: #da0037;
}
.button {
  margin: 0 5px;
}
